
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
	<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
	<link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="container">
    <h1 class="h1">Welcome to the book store</h1>
    <h1>@DateTime.Now</h1>
    <p class="p-1">This is our book store application</p>
	<img src="~/images/thumbsup.png" class="logo" alt="logo"/>
   
    <input type="button" class="btn btn-danger" value="danger" />
</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>
<script>
    $(document).ready(function () {
        alert("Page Loaded");
    });
</script>