################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FirstCoreMVCBookStore/.vs/FirstCoreMVCBookStore
/FirstCoreMVCBookStore/FirstCoreMVCBookStore/bin/Debug/netcoreapp3.1
/FirstCoreMVCBookStore/FirstCoreMVCBookStore/obj
/FirstCoreMVCBookStore/.vs/ProjectEvaluation
/FirstCoreMVCBookStore/FirstCoreMVCBookStore/FirstCoreMVCBookStore.csproj.user
